 <div class="libraryScreen hidden">
    <div class="libraryContainer">
        <div class="librarySearch"><input type="text" placeholder="Buscar livro"></div>
        <button id="libraryFiltersButton"><img src="src/assets/img/svg/adjust-icon.svg" alt=""></button>
        <div id="libraryFilters"></div>
        <div class="librarySemesterSelection">
            <button>1º Período</button>
            <button>2º Período</button>
            <button>3º Período</button>
            <button>4º Período</button>
            <button>5º Período</button>
            <button>6º Período</button>
            <button>7º Período</button>
            <button>8º Período</button>
        </div>
        <button id="clearLibraryFiltersButton">Limpar Filtros</button>
    </div>
    <div class="libraryContent"></div>
    

</div>