<%- include('includes/head')  %>


<div class="h-screen bg-gradient-to-t from-neutral-300 to-white flex items-center flex-col">

  <%- include('includes/navbar')  %>

  <h1 class="text-gray-800 text-8xl mt-20">
    ...Em desenvolvimento...
  </h1>
  <p class="text-gray-800 text-xl">Favor entrar em contato com a administração.</p>

    
</div>

  <%- include('includes/bottom')  %>
