<%- include('includes/head') %>

<div class="h-screen flex items-center flex-col">

  <%- include('includes/navbar') %>

  <div class="h-full w-full bg-neutral-200">
    
    <%- include('includes/sidebar') %>

  </div>
  
</div>

<%- include('includes/bottom') %>