<div class="remindersScreen hidden">
    <div class="addReminderContainer">
        <form action="" class="addReminderContainerForm">
            <input type="text" name="reminderTitle" id="addReminderTitle" placeholder="Título">
            <textarea name="reminderDescription" id="addReminderDescription" cols="30" rows="10" placeholder="Descrição"></textarea>
            <input type="date" name="reminderDate" id="addReminderDate">
        </form>
        <button id="addReminderContainerButton"><img src="src/assets/img/svg/plus-icon.svg" alt="Plus Icon">Adicionar Lembrete</button>
    </div>
    
    <div class="notFound remindersNotFound hidden">
        <h2>Está perdido? Você ainda não tem notas registradas.</h2>
        <img src="src/assets/img/svg/not-found.svg" alt="Not Found">
        <div class="addReminderArea">
            <button id="addReminderButton">
                <img src="src/assets/img/svg/plus-icon.svg" alt="Plus Icon">
                <p>Adicionar Nota</p>
            </button>
        </div>
    </div>
</div>