<div class="welcomeScreen">
    <h1>Seja bem-vindo ao BSI hub!</h1>
    <div>
        <img src="src/assets/img/svg/clock-icon.svg" alt="Clock Icon" class="welcomeScreenIcon">
        <img src="src/assets/img/svg/calendar-icon.svg" alt="Calendar Icon" class="welcomeScreenIcon">
        <img src="src/assets/img/svg/book-icon.svg" alt="Book Icon" class="welcomeScreenIcon">
        <img src="src/assets/img/bsi-hub-logo.png" alt="BSI Hub Logo" class="welcomeScreenLogo">
        <img src="src/assets/img/svg/pin-icon.svg" alt="Pin Icon" class="welcomeScreenIcon">
        <img src="src/assets/img/svg/grid-icon.svg" alt="grid Icon" class="welcomeScreenIcon">
        <img src="src/assets/img/svg/telephone-icon.svg" alt="telephone Icon" class="welcomeScreenIcon">
    </div>
    <p>A casa dos sofredores do BSI</p>
</div>