<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/assets/img/favicon-32x32.png">
    <title>BSI hub</title>
</head>

<body>


    <div id="loginArea">
        <form class="loginForm animate">
            <div class="avatarContainer">
                <img src="src/assets/img/svg/user-icon.svg" alt="Avatar" class="avatar">
            </div>

            <div class="loginFormContainer">
                <input type="text" placeholder="E-mail" name="usernameField" id="usernameInput">

                <input type="password" placeholder="Senha" name="passwordField" id="passwordInput">

                <button type="submit" id="submitLoginButton">Login</button>
                <label id="rememberText">
                    <input type="checkbox" checked="checked" name="remember"> Mantenha-me conectado
                </label>
                <a href="#" id="registerLink"><span>Registre-se</span></a>
            </div>

            <div class="loginOthersContainer">
                <a href="#" id="forgotPassword"><span>Esqueceu sua senha?</span></a>
                <button id="closeLoginButton">Voltar</button>
            </div>
        </form>
    </div>

    <!-- <div id="registerArea">
        <form class="registerForm animate">
            <div class="avatarContainer">
                <img src="src/assets/img/svg/user-icon.svg" alt="Avatar" class="avatar">
            </div>

            <div class="registerFormContainer">
                <input type="text" placeholder="Nome" name="nameField" id="nameInput" required>

                <input type="text" placeholder="E-mail" name="usernameField" id="usernameInput" required>

                <input type="password" placeholder="Senha" name="passwordField" id="passwordInput" required>

                <input type="password" placeholder="Confirme sua senha" name="passwordField" id="passwordInput" required>

                <button type="submit" id="submitRegisterButton">Registrar</button>
                <label  id="rememberText">
                    <input type="checkbox" checked="checked" name="remember"> Mantenha-me conectado
                </label>
                <a href="#" id="loginLink"><span>Já possui uma conta? Faça login</span></a>
            </div>

            <div class="registerOthersContainer">
                <button id="closeRegisterButton">Voltar</button>
            </div>
        </form>
    </div> -->

    <header>
        <div class="headerContainer">
            <div class="headerLogoArea">
                <a href="#"><img src="src/assets/img/bsi-hub-logo.png" alt="BSI Hub Logo"
                        class="bsiHubLogo"></a>
            </div>
            <div class="headerSearchArea">
                <img src="src/assets/img/svg/search-icon.svg" alt="Search Icon" class="searchIcon">
                <input type="text" id="searchInput" placeholder="Buscar no BSIHub">
                <img src="src/assets/img/svg/adjust-icon.svg" alt="Filter Icon" class="filterIcon">
            </div>
            <div id="themeArea">
                <div id="themeSwitch">
                    <button id="themeButton" class="darkTheme"><img
                            src="src/assets/img/svg/outlined-moon-icon.svg"></button>
                </div>
            </div>
            <div class="headerAccountArea">
                <button id="openLoginButton">Entrar | Cadastrar-se</button>
            </div>
        </div>
    </header>

    <!--
        ============================================================================================================================ 
        ============================================================================================================================ 
        ============================================================================================================================
        ============================================================================================================================
        ============================================================================================================================
    -->

    <main>
        <section class="sideMenuArea">
            <ul>
                <a href="horario-individual">
                    <li id="scheduleLink">
                        <img src="src/assets/img/svg/clock-icon.svg" alt="Clock Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Horário Individual</p>
                    </li>
                </a>
                <a href="calendario">
                    <li id="calendarLink">
                        <img src="src/assets/img/svg/calendar-icon.svg" alt="Calendar Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Calendário Oficial</p>
                    </li>
                </a>
                <a href="biblioteca">
                    <li id="libraryLink">
                        <img src="src/assets/img/svg/book-icon.svg" alt="Book Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Biblioteca Pública</p>
                    </li>
                </a>
                <a href="registro-notas">
                    <li id="gradeLink">
                        <img src="src/assets/img/svg/page-icon.svg" alt="Page Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Registro de Notas</p>
                    </li>
                </a>
                <a href="lembretes">
                    <li id="remindersLink">
                        <img src="src/assets/img/svg/pin-icon.svg" alt="Pin Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Seus Lembretes</p>
                    </li>
                </a>
                <a href="matriz-escolar">
                    <li id="scholarGridLink">
                        <img src="src/assets/img/svg/grid-icon.svg" alt="Grid Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Matriz Curricular</p>
                    </li>
                </a>
                <a href="contatos">
                    <li id="contactLink">
                        <img src="src/assets/img/svg/telephone-icon.svg" alt="Telephone Icon" class="sideMenuIcon">
                        <p class="sideMenuText">Contatos</p>
                    </li>
                </a>

            </ul>
        </section>
        <section class="workArea">

            {{{body}}}

        </section>
    </main>

    <script src="public/assets/js/bundle.js"></script>
    

</body>

</html>